<nav class="menu">
  <div class="wrapper">
    <div class="brand-logo"></div>
    <li>
      <a data-anchor="blog" href="https://medium.com/@ADMconsultoria" class="menu-item">Blog</a>
    </li>
    <li>
      <a href="#contato" class="menu-item">Fale Conosco</a>
    </li>
    <li>
      <a href="#solucoes" class="menu-item">Soluções</a>
    </li>
  </div>
</nav>

<div class="menu-mobile">
	<div class="menu-title">MENU</div>
	<nav class="menu-container">
		<li>
			<a data-anchor="contato" href="#" class="menu-item">Fale Conosco</a>
		</li>
		<li>
			<a data-anchor="blog" href="#" class="menu-item">Blog</a>
		</li>
	</nav>
</div>

<div class="banner">
</div>

<section class="mvv">
	<div class="wrapper">
		<h1>UM POUCO SOBRE NÓS</h1>
		<p> Atuando desde 1992, a AD&M foi a primeira Empresa Júnior do Centro-Oeste. Uma Empresa Júnior é uma associação civil composta e gerida, por alunos de graduação de Ensino Superior, que presta serviços e desenvolve projetos para empresas e para a sociedade em geral, em suas áreas de atuação, sob a orientação de professores e profissionais especializados.

		</p>
		<div class="missao_visao">
			<div class="missao">
			<div class="missao__imagem"></div>
				<h3>MISSÃO</h3>
				<p>Transformar jovens em profissionais comprometidos com seus sonhos, por meio de experiências empresariais, para construir uma sociedade melhor.</p>
			</div>
			<div class="visao">
			<div class="visao__imagem"></div>
				<h3>VISÃO</h3>
				<p>Ser o principal diferencial na formação dos melhores profissionais de administração do país.</p>
			</div>
		</div>
		

		<div class="principios">
			<h3>PRINCIPIOS</h2>
			<div class="gallery js-flickity" data-flickity='{ "cellAlign": "left" }'>
				
				<div>
          <div class="principio1"></div>
					<p class="p_principio1">Equilibramos o espírito jovem e inovador com condutas profissionais e maduras.</p>
					<div class="principio2"></div>
					<p class="p_principio2">Temos sede por aprendizado e não nos conformamos com a realidade estagnada. Nós agimos para promover mudança!</p>
				</div>
				<div>	
					<div class="principio3"></div>
					<p class="p_principio3">Encaramos os desafios como novas oportunidades e nosmotivamos por meios deles a alcançar melhores resultados.</p>
					<div class="principio4"></div>
					<p class="p_principio4">Prezamos pelo crescimento e integridade da AD&M e nos sentimos responsáveis pelos resultados de nossa empresa.</p>
				</div>
				<div>
					<div class="principio5"></div>
					<p class="p_principio4">Prezamos pelo crescimento e integridade da AD&M e nos sentimos responsáveis pelos resultados de nossa empresa.</p>
					<div class="principio6"></div>
					<p class="p_principio4">Prezamos pelo crescimento e integridade da AD&M e nos sentimos responsáveis pelos resultados de nossa empresa.</p>
					
				</div>
				<div>
					<div class="principio7"></div>
					<p class="p_principio4">Prezamos pelo crescimento e integridade da AD&M e nos sentimos responsáveis pelos resultados de nossa empresa.</p>
				</div>
			</div>
		</div>

	</div>
</section>

<section id="solucoes" class="solucao">
	<div class="wrapper">
		<h1>CONHEÇA NOSSAS SOLUÇÕES</h1>
		<p>Solucionamos problemas de gestão empresarial de forma personalizada, em diversas áreas. Conheça nossas soluções e agende um atendimento com nossos Analistas de Negócios para oferecermos a melhor solução para seu negócio.</p>

		<ul class="flex-container">
			<li>
				<div class="financas">
					<h3>FINANÇAS</h3>
					<p>Área responsável pelo planejamento, controle e análises dos dados financeiros a fim de oferecer suporte à tomada de decisão.</p>	
				</div>

			</li>
			<li>
				<div class="marketing">
					<h3>MARKETING</h3>
					<p>Área responsável pela captação, seleção, aprendizado, organização e retenção de talentos da empresa.</p>
				</div>
				
			</li>
			<li>
				<div class="gp">
					<h3>GESTÃO DE PESSOAS</h3>
					<p>Área responsável pelo entendimento das variáveis externas, bem como pela captação e retenção de clientes.</p>
				</div>
			</li>
			<li>
				<div class="oep">
					<h3>ORGANIZAÇÃO E PROCESSOS</h3>
					<p>Área responsável por administrar os processos, estrutura, estratégia e qualidade da empresa.</p>
				</div>
			</li>
		</ul>
		<%= link_to "SAIBA MAIS", page_path(id: "solucoes"), class: "button" %>
	</div>
</section>

<section class="cliente_parceiro">
	<div class="wrapper">
		<h1>NOSSOS CLIENTES</h1>
			<div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
  				<a href="http://www.giraffas.com.br/">
  				<div class="cliente1">
  				</div>
  				</a>
  					
  				<a href="http://www.mrbrownie.com.br/">
  				<div class="cliente2">
  				</div>
  				</a>
  				<a href="http://www.thaisimobiliaria.com.br/">
  				<div class="cliente3">
  				</div>
  				</a>
  				<a href="http://www.galois.com.br/">
  				<div class="cliente4">
  				</div>
  				</a>
  				<a href="http://www.souzacruz.com.br/">
  				<div class="cliente5">
  				</div>
  				</a>
  				<a href="http://www.iesb.br/">
  				<div class="cliente6">
  				</div>
  				</a>
  				<a href="http://thomas.org.br/">
  				<div class="cliente7">
  				</div>
  				</a>
  				<a href="http://www.supermaia.com.br/">
  				<div class="cliente8">
  				</div>
  				</a>
  					
  				<a href="http://www.lovoglio.com.br/">
  				<div class="cliente9">
  				</div>
  				</a>
  				<a href="http://www.boibumbadesign.com.br/">
  				<div class="cliente10">
  				</div>
  				</a>
  				<a href="http://www.cfa.org.br/">
  				<div class="cliente11">
  				</div>
  				</a>
  				<a href="http://russomano.adv.br/">
  				<div class="cliente12">
  				</div>
  				</a>
  				<a href="http://www.pg.com/pt_BR/">
  				<div class="cliente13">
  				</div>
  				</a>
  				<a href="http://www.paodeacucar.com/">
  				<div class="cliente14">
  				</div>
  				</a>
  				<a href="http://www.ipea.gov.br/portal/">
  				<div class="cliente15">
  				</div>
  				</a>
			</div>
		<h1>NOSSOS PARCEIROS</h1>
			<div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros1">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros2">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros3">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros4">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros5">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros6">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros7">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros8">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros9">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros10">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros11">
  				</div>
  				</a>
  				<a href="https://www.google.com.br/">
  				<div class="parceiros12">
  				</div>
  				</a>
			</div>
	</div>
</section>

<section class="fale_conosco" id="contato">
	<div class="wrapper">
		<h1>FALE CONOSCO</h1>
    <p>Agende seu atendimento com nossos Analistas de Negócios,
    para podermos oferecer-lhe o melhor das nossas soluções.</p>
    
    <ul class="flex-container">
      <li>
      <%= simple_form_for @contact_form , remote: true do |f| %>

            <div class="formulario">
              <%= f.text_field :name, placeholder:"Nome" %>
            </div>

            <div class="formulario">
              <%= f.email_field :email, placeholder:"Email" %>
            </div>

            <div class="formulario">
              <%= f.text_field :phone, placeholder:"Telefone" %>
            </div>

            <div class="formulario">
              <%= f.text_field :company_name, placeholder:"Nome da Empresa" %>
            </div>

            <div class="formulario">
              <%= f.text_area :message,placeholder:"Como podemos ajudar?" %>
            </div>

            <div class="envio">
              <%= f.submit 'Enviar', class: 'button' %>
            </div>
        <% end %>
        
      </li>
      <li>
      	<div id="map"></div>
      </li>
    </ul>
	</div>
</section>


<footer class="page-footer">
	<div class="wrapper">
		<div class="logo-footer"></div>
		<a href=""><div class="twitter"></div></a>
		<a href=""><div class="medium"></div></a>
		<a href=""><div class="facebook"></div></a>
		<p>99238-9123/ 98625-4773     contato@admconsultoria.com.br</p>
		<p>Faculdade de Administração, Contabilidade e Economia (FACE) - Campus Universitário Darcy Ribeiro, s/n. Sala DT 09/29 - Asa Norte. Brasília DF</p>
	</div>
	
</footer>