<nav class="menu">
	<div class="wrapper">
		<div class="brand-logo"></div>
		<li>
			<a data-anchor="blog" href="https://medium.com/@ADMconsultoria" class="menu-item">Blog</a>
		</li>
		<li>
			<a data-anchor="contato" href="" class="menu-item">Fale Conosco</a>
		</li>
		<li>
			<a data-anchor="solucoes" href="" class="menu-item">Serviços</a>
		</li>
	</div>
</nav>

<div class="menu-mobile">
	<div class="menu-title">MENU</div>
	<nav class="menu-container">
		<li>
			<a data-anchor="contato" href="#" class="menu-item">Fale Conosco</a>
		</li>
		<li>
			<a data-anchor="blog" href="#" class="menu-item">Blog</a>
		</li>
	</nav>
</div>

<div class="banner">
</div>

<section class="mvv">
	<div class="wrapper">
		<h1>UM POUCO SOBRE NÓS</h1>
		<p> Atuando desde 1992, a AD&M foi a primeira Empresa Júnior do Centro-Oeste. Uma Empresa Júnior é uma associação civil composta e gerida, por alunos de graduação de Ensino Superior, que presta serviços e desenvolve projetos para empresas e para a sociedade em geral, em suas áreas de atuação, sob a orientação de professores e profissionais especializados.

		</p>
		<div class="missao_visao">
			<div class="missao">
			<div class="missao__imagem"></div>
				<h3>MISSÃO</h3>
				<p>Transformar jovens em profissionais comprometidos com seus sonhos, por meio de experiências empresariais, para construir uma sociedade melhor.</p>
			</div>
			<div class="visao">
			<div class="visao__imagem"></div>
				<h3>VISÃO</h3>
				<p>Ser o principal diferencial na formação dos melhores profissionais de administração do país.</p>
			</div>
		</div>
		

		<div class="principios">
			<h3>PRINCIPIOS</h2>
			<div id="scrolling">
				
			<ul class="ul-principios">
				<li>
					<div class="principio1"></div>
					<p class="p_principio1">Equilibramos o espírito jovem e inovador com condutas profissionais e maduras.</p>
					<div class="principio2"></div>
					<p class="p_principio2">Temos sede por aprendizado e não nos conformamos com a realidade estagnada. Nós agimos para promover mudança!</p>
				</li>
				<li>	
					<div class="principio3"></div>
					<p class="p_principio3">Encaramos os desafios como novas oportunidades e nosmotivamos por meios deles a alcançar melhores resultados.</p>
					<div class="principio4"></div>
					<p class="p_principio4">Prezamos pelo crescimento e integridade da AD&M e nos sentimos responsáveis pelos resultados de nossa empresa.</p>
				</li>
				<li>
					<div class="principio5"></div>
					<p class="p_principio4">Prezamos pelo crescimento e integridade da AD&M e nos sentimos responsáveis pelos resultados de nossa empresa.</p>
					<div class="principio6"></div>
					<p class="p_principio4">Prezamos pelo crescimento e integridade da AD&M e nos sentimos responsáveis pelos resultados de nossa empresa.</p>
					
				</li>
				<li>
					<div class="principio7"></div>
					<p class="p_principio4">Prezamos pelo crescimento e integridade da AD&M e nos sentimos responsáveis pelos resultados de nossa empresa.</p>
				</li>
			</ul>
			</div>
		</div>

	</div>
</section>

<section class="solucao" data-anchor-content="solucoes">
	<div class="wrapper">
		<h1>CONHEÇA NOSSAS SOLUÇÕES</h1>
		<p>Solucionamos problemas de gestão empresarial de forma personalizada, em diversas áreas. Conheça nossas soluções e agende um atendimento com nossos Analistas de Negócios para oferecermos a melhor solução para seu negócio.</p>

		<div class="financas">
			<h3>FINANÇAS</h3>
			<p>Área responsável pelo planejamento, controle e análises dos dados financeiros a fim de oferecer suporte à tomada de decisão.</p>		
		</div>
		<div class="marketing">
			<h3>MARKETING</h3>
			<p>Área responsável pela captação, seleção, aprendizado, organização e retenção de talentos da empresa.</p>
		</div>
		<div class="gp">
			<h3>GESTÃO DE PESSOAS</h3>
			<p>Área responsável pelo entendimento das variáveis externas, bem como pela captação e retenção de clientes.</p>
		</div>
		<div class="oep">
			<h3>ORGANIZAÇÃO E PROCESSOS</h3>
			<p>Área responsável por administrar os processos, estrutura, estratégia e qualidade da empresa.</p>
		</div>
		<%= link_to "SAIBA MAIS", page_path(id: "solucoes"), class: "button" %>
	</div>
</section>

<section class="cliente_parceiro">
	<div class="wrapper">
		<h1>NOSSOS CLIENTES</h1>
			<div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
  				<a href="https://www.google.com.br/">
  				<div class="exemplo1">
  				</div>
  				</a>
  					
  				<div class="exemplo2"></div>
  				<div class="exemplo3"></div>
  				<div class="exemplo1"></div>
  				<div class="exemplo2"></div>
  				<div class="exemplo3"></div>
  				<div class="exemplo1"></div>
  				<div class="exemplo2"></div>
  				<div class="exemplo3"></div>
			</div>
		<h1>NOSSOS PARCEIROS</h1>
			<div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
  				<div class="exemplo1"></div>
  				<div class="exemplo2"></div>
  				<div class="exemplo3"></div>
  				<div class="exemplo1"></div>
  				<div class="exemplo2"></div>
  				<div class="exemplo3"></div>
  				<div class="exemplo1"></div>
  				<div class="exemplo2"></div>
  				<div class="exemplo3"></div>
			</div>
	</div>
</section>

<section class="fale_conosco" data-anchor-content="contato">
	<div class="wrapper">
		<h1>FALE CONOSCO</h1>
		<p>Agende seu atendimento com nossos Analistas de Negócios,
		para podermos oferecer-lhe o melhor das nossas soluções.</p>
		<%= form_for Message.new, url: contact_path do |message_form| %>
  		<div class="contato">
    		<div class="formulario">
      			<%= message_form.text_field :name, placeholder: "Nome" %>
   			</div>
    		<div class="formulario">
     		 	<%= message_form.email_field :email, placeholder: "Email"%>
    		</div>
    		<div class="formulario">
     		 	<%= message_form.email_field :phone, placeholder: "Telefone"%>
    		</div>
    		<div class="formulario">
     		 	<%= message_form.email_field :business_name, placeholder: "Nome da Empresa"%>
    		</div>
    		<div class="formulario">
      			<%= message_form.text_area :content, placeholder: "Como podemos ajudar?"%>
    		</div>
  		</div>
  		<div class="contato">
    		<div class="envio">
      			<%= message_form.submit "Enviar" %>
    		</div>
  		</div>
		<% end %>

		<div id="map-section" class="map-section">
			
		<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC2EzCGN6pj4MWoeL25r5a6VJN0udGzXpU	'></script>
		<div style='overflow:hidden;height:400px;width:520px;'>
			<div id='gmap_canvas' style='height:400px;width:520px;'></div>
			<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
		</div> <a href='http://maps-generator.com/pt'>Maps-Generator</a> 
		<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=5a91e20800e57971df34a43b16f38242a399dd62'></script>
		<script type='text/javascript'>function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(-15.758596839512428,-47.87141087175826),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-15.758596839512428,-47.87141087175826)});infowindow = new google.maps.InfoWindow({content:'<strong>AD&M Consultoria Empresarial</strong><br>Universidade de Brasília, Faculdade de Administração, Contabilidade e Economia<br>70910-900 Brasília<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
		</div>
	</div>
	</div>
</section>


<footer class="page-footer">
	<div class="wrapper">
		<div class="logo-footer"></div>
		<p>99238-9123/ 98625-4773     contato@admconsultoria.com.br</p>
		<p>Faculdade de Administração, Contabilidade e Economia (FACE) - Campus Universitário Darcy Ribeiro, s/n. Sala DT 09/29 - Asa Norte. Brasília DF</p>
	</div>
	
</footer>